# Node & Vite
frontend/node_modules/
frontend/build/
frontend/dist/

# Python / Django
backend/venv/
backend/__pycache__/
backend/*/__pycache__/
backend/*.sqlite3
backend/media/receipts/*
backend/staticfiles/

# Environment & OS
.env
.DS_Store
Thumbs.db