# Node
frontend/node_modules/
frontend/build/

# Python / Django
backend/venv/
backend/__pycache__/
backend/*/__pycache__/
backend/*.sqlite3
backend/media/receipts/*

# Environment & OS
.env
.DS_Store
Thumbs.db